/*  note that : While using sticky navigation, space should not be given between 2 sub classes  */  /* #2ecc71 */
*{
    margin :0;
    padding:0;
    box-sizing:border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-weight: 300;
    color:#111;
}

body,html{
    overflow-x: hidden;
}

.banner{
    position: relative;             
    width: 100%;
    height: 100vh;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./biryani1.jpg");
    background-size: cover;
}

.banner .content{                   /* there should always be space after every word eg: " .abc<space>.xyz " */
    max-width: 900px;
    text-align: center;             /* brings text to center*/
}

.banner .content h2{
    font-size: 5em;
    margin-top: 50px;
    color: black;
}

.banner .content p{
    font-size: 1em;
    color:black;
    font-weight: 700;
}

.btn{
    font-size: 1 em;
    color: #fff;
    background: #111;
    display: inline-block;
    padding:10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration:none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover{
    letter-spacing: 7px;
    background-color: #2ecc71;
    color: black;
}

header{
    position:absolute;
    top:0;
    left:0;
    height: 10vh;
    width:100%;
    padding:40px 100px;
    z-index: 10000;
    display: flex;  
    justify-content: space-between; 
    align-items: center;
    transition: 0.5s;
    background-color: #111;
}

header .logo{          
    color: white;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin-left: 30px;
}

header .navigation li a{
    text-decoration:none;
    color: white;
    font-weight:500;
}



header .navigation li a:hover{
    color: #2ecc71;
}

